body {
  background-image: url('../../Images/parchment-paper.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 50rem;
  margin: auto;
  background: #fff;
  padding: 1.25rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-top: 2.5rem;
}

h1, h2 {
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  margin-top: 1.5rem;
  color: #333;
}

h2 {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  color: #555;
  text-align: justify;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: stretch;
}

.img-container img {
  width: 50%;
  height: auto;
  margin: 0;
  padding: 0;
}

.styled-anchor {
  display: inline-block;
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 1.5rem;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  margin-top: 1.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.styled-anchor:hover {
  background-color: hwb(138 13% 4%);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.button {
  margin-right: 1.25rem; 
}

.goBackButton {
  background-color:hwb(138 13% 4%);
  color: white;
  padding: 12px 24px;
  border-radius: 24px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-right: 1.25rem; 
}

.goBackButton:hover {
  background-color: hsl(200, 100%, 50%); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.home-page-paragraph {
  text-align: left; 
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.2rem;
  }
  
  p {
    font-size: 1rem;
  }

  img {
    width: 40%;
  }
}

@media (max-width: 480px) {
  img {
    width: 60%;
  }
}
