img {
    width: 15rem;
    height: auto;
    margin: 10px auto 10px 2rem;
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


/* Media Query for Tablets */
@media (max-width: 768px) {
    img {
        width: 4rem;
        margin-right: 5rem;
    }
}

/* Media Query for Mobile Phones */
@media (max-width: 480px) {
    img {
        width: 3rem;
        margin-right: 2rem;
    }
}