.error-msg {
    background-color: #e8f5e9;
    color: #1b5e20;
    text-align: center;
    padding: 2rem;
    height: calc(100vh - 8rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .error-msg h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    padding: 1%;
  }
  
  .error-msg h2,
  .error-msg h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem; 
    word-wrap: break-word;
    padding: 1%;
  }
  
  .error-msg img {
    max-width: 350px;
    border-radius: 10%;
    box-shadow: 0px 5px 10px rgba(27, 94, 32, 0.2);
  }
  
  @media (max-width: 768px) {
    .error-msg {
      padding: 1rem; 
      height: calc(100vh - 4rem);
    }
    .error-msg h1 {
      font-size: 2rem;
    }
  
    .error-msg img {
      max-width: 250px;
    }
  }
  