.not-found-page-container {
  background-image: url('../../Images/parchment-paper.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #5a3822; 
  text-align: center;
  padding: 2em;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  font-family: 'Times New Roman', serif;
}

.not-found-heading h1 {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
  border-bottom: 3px solid #d2a45b; 
  padding-bottom: 0.5em;
}

.not-found-handling h3 {
  font-size: 1em;
  margin-bottom: 2em;
  margin-top: -10px;
}

.not-found-page-container .error404-go-home-button {
  background-color: #FFC300 !important;
  color: rgb(11, 0, 0);
  padding: 1em;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: bold;
  margin-top: 2px;
  margin-right: 1.25rem; 
}

.not-found-page-container .error404-go-home-button:hover {
  background-color: #FFC300 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.error404-navlink {
  background-color: transparent;
  box-shadow: none;
}

.fun-fact-container {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 1.5em;
  padding: 1.5em;
  border-radius: 5px;
  background-color: whitesmoke;
  display: flex; 
  flex-direction: row; 
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
  justify-content: center;
  max-width: 90%;
}

.fun-fact-heading, .fun-fact {
  padding: 0.5em; 
  margin: 0.5em; 
  border: 0.5px solid #d2a45b; 
}


.fun-fact, .sino-image {
  flex-basis: calc(50% - 1em);
}

.sino-image {
  width: 100%;
  max-width: 500px;
}

@media (max-width: 768px) {
  .fun-fact, .sino-image {
    flex-basis: 100%;
    text-align: center;
  }
}

.not-found-heading h1{
  font-size: 3em;
  margin-bottom: 1em;
  text-align: center;
} 

.fun-fact-heading, .fun-fact {
  border: 1px solid #d2a45b;
  padding: 1em;
  margin: 1em;
  width: 100%;
  text-align: center;
}

.fun-fact {
  font-size: 2em;
  align-items: center;
  text-align: center;
}

.sino-image {
  width: 100%;
  max-width: 500px;
  margin-top: 10%;
  margin-right: 5%; 
  border-radius: 10%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 480px) { 
  
  .not-found-heading h1 {
    font-size: 2em;
  }

  .not-found-handling h3 {
    font-size: 1.2em;
  }

  .fun-fact {
    font-size: 1.5em;
  }

  .not-found-page-container .error404-go-home-button {
    padding: 0.5em;
    font-size: 0.9em;
    margin-top: 15px;
  }
  
  .sino-image {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  
  .not-found-heading h1 {
    font-size: 2.5em;
  }

  .not-found-handling h3 {
    font-size: 1.4em;
  }

  .fun-fact {
    font-size: 1.8em;
  }

  .not-found-page-container .error404-go-home-button {
    padding: 0.75em;
    font-size: 1em;
    margin-top: 18px;
  }
  
  .sino-image {
    margin-top: 7%;
  }
}
